*{
    font-family: 'DM Sans', sans-serif;    
}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
body{
    margin: 0;padding: 0;box-sizing: border-box; font-size: 14px;
}
main{
    height: 100vh;
    position: relative;
    display: grid;
    place-content: center;
}
.row{
    display: flex;
    justify-content: space-between;    
    flex-wrap: nowrap;
}
.align-center{align-items: center;}
.align-end{align-items: flex-end;}
.bg-pale-orange{ background-color: hsl(33, 100%, 98%);}
.bg-cream{background-color: hsl(27, 66%, 92%);}
.bg-soft-red{background-color: hsl(10, 79%, 65%);}
.bg-cyan{background-color: hsl(186, 34%, 60%);}
.bg-dark-brown{background-color: hsl(25, 47%, 15%);}
.bg-med-brown{background-color: hsl(28, 10%, 53%);}

.text-dark-brown{color:hsl(25, 47%, 15%) ;}
.text-cream{color:hsl(33, 100%, 98%);}
.text-med-brown{color:hsl(28, 10%, 53%);}

.text-align-right{text-align: right;}

.wrapper{
    display: flex;
    flex-direction: column;
}
.card{   
    width: 22rem; 
    border-radius: 1rem;    
    padding: 1.5rem;
}
.card-top{margin-bottom: 1rem;}

.card-bottom .chart{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 10rem;
    padding: 1rem 0;
    border-bottom: 1px solid hsl(27, 66%, 92%);
    margin-bottom: 1rem;
}
.card-bottom .chart .day{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.card-bottom .chart .day:hover .amount{
    display: block;
}
.card-bottom .chart .day:hover .bar{
    opacity: .7;
}
.card-bottom .chart .day .amount{
    padding: .35rem;
    display: none;
    background-color: hsl(25, 47%, 15%);
    border-radius: .35rem;
    color: hsl(33, 100%, 98%);
    font-weight: 700;
    font-size: .75rem;
    margin-bottom: .5rem;
}

.card-bottom .chart .day .bar{  
    width: 100%; 
    background-color: hsl(10, 79%, 65%);
    border-radius: 4px;
}


.attribution { position: absolute; bottom: 1rem; width: 100%; font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }